<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="WARN">

	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="[%5p][%d{yyyy-MM-dd HH:mm:ss,SSS}] [%X{traceId}](%F:%L) %m%n" />
		</Console>
	</Appenders>

	<Loggers>
		<logger name="org.springframework" level="WARN" />
		<logger name="org.mongodb" level="WARN" />
		<logger name="org.apache" level="WARN" />
		<logger name="org.opensymphony" level="WARN" />
		<logger name="org.mybatis" level="WARN" />
		<logger name="com.alibaba.druid" level="WARN" />
		<logger name="org.hibernate" level="WARN" />
		<logger name="httpclient.wire.content" level="WARN" />
		<logger name="httpclient.wire.header" level="WARN" />
		<logger name="org.apache.commons.httpclient" level="WARN" />
		<logger name="net.sf.ehcache" level="WARN" />
		<logger name="org.elasticsearch" level="WARN" />
		<logger name="io.netty" level="WARN" />
		<logger name="com.jd.dassist.mybatis" level="WARN" />
		<logger name="com.jd.jim" level="WARN" />
		<logger name="com.jd.jsf" level="WARN" />
		<logger name="com.jd.jmq" level="WARN" />
		<logger name="com.jcloud.jss" level="WARN" />
		<logger name="com.jd.cachecloud" level="WARN" />
		
		<Root level="INFO">
			<AppenderRef ref="STDOUT" />
		</Root>
	</Loggers>
</Configuration>